<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div
        style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; justify-items: center;">
        <h1>Bienvenue</h1>
        <form action="/agenda/signout" method="post">
            <input type="submit" value="Se déconnecter">
        </form>
    </div>
    <div>
        <h2>Ajouter des agendas</h2>
        <form action="/agenda/addagenda" method="post">
            <div th:if="${error}" style="color: red;">
                <p th:text="${error}"></p>
            </div>
            <input type="text" name="libelle" placeholder="Libelle" required>
            <input type="submit" value="Ajouter">
        </form>
    </div>
    <div>
        <h2>Liste des agendas</h2>
        <ul th:each="agenda : ${agendas}">
            <li th:text="${agenda.libelle}""></li>
        </ul>
    </div>
</body>

</html>