<!DOCTYPE html>
<html lang="en">
<!-- http://localhost:8080/agenda/signup -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Agenda</title>
</head>

<body>
    <h2>S'enregistrer</h2>
    <form action="/agenda/user/signup" method="post" style="display: flex;align-items: center;flex-direction: column;">
        <div th:if="${error}" style="color: red;">
            <p th:text="${error}"></p>
        </div>
        <input type="email" name="email" id="email" placeholder="email" required>
        <br>
        <input type="password" name="pwd" id="pwd" placeholder="mot de passe" required>
        <br>
        <input type="text" name="nom" id="nom" placeholder="nom" required>
        <br>
        <input type="text" name="prenom" id="premom" placeholder="prenom" required>
        <br>
        <input type="submit" value="Enregistrer">
    </form>
    <div>
        <p>Si vous avez déjà un compte <a href="http://localhost:8080/agenda/user/signin">Connectez-vous!</a></p>
    </div>


</body>

</html>