<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S'identifier</title>
</head>

<body>
    <h1>S'identifier</h1>
    <form action="/agenda/signin" method="post" style="display: flex; flex-direction: column; align-items: center;">
        <div th:if="${error}" style="color: red;">
            <p th:text="${error}"></p>
        </div>
        <input type="email" name="email" id="email" placeholder="email" required>
        <br>
        <input type="password" name="pwd" id="pwd" placeholder="Mot de passe" required>
        <br>
        <input type="submit" value="S'identifier">
        <br>
    </form>
    <div>
        <p>Si vous n'avez pas encore un compte <a href="http://localhost:8080/agenda/signup">créez en un!</a></p>
    </div>
</body>

</html>